server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: boot-zyao
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://8.130.120.83:3306/ZY_OBJ?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&failOverReadOnly=false&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: Zy123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 配置Druid筛选器属性
    druid:
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 5000
        wall:
          enabled: true
          db-type: mysql
          config:
            delete-allow: false
            drop-table-allow: false
  main:
    allow-bean-definition-overriding: true

  redis:
    database: 0
    host: 8.130.120.83
    port: 6379
    timeout: 10000
    password: Zy123456
    repositories:
      enabled: false
    jedis:
      pool:
        max-active: 20
        max-wait: -1
        max-idle: 10
        min-idle: 0
  mail:
    username: 1215668319@qq.com
    host: smtp.qq.com
    port: 465
    password: pvqhcctgpswlhcbj
    sslEnable: true

mybatis-plus:
#  type-aliases-package: com.zyao.common.api.sys # 指定实体类所在包
  mapper-locations: classpath*:/mapper/**/*.xml # 用户标记或者指定mybatis对应xml的路径；
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#    use-deprecated-executor: false


quartz:
  scheduler:
    instanceName: quartzScheduler
    instanceId: AUTO
  threadPool:
    class: org.quartz.simpl.SimpleThreadPool
    threadCount: 10
    threadPriority: 5
  jobStore:
    class: org.quartz.impl.jdbcjobstore.JobStoreTX
    driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
    useProperties: true
    dataSource: myDS
    tablePrefix: QRTZ_
  dataSource:
    myDS:
      driver: com.mysql.cj.jdbc.Driver
      URL: jdbc:mysql://8.130.120.83:3306/ZY_OBJ?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&failOverReadOnly=false&serverTimezone=Asia/Shanghai&useSSL=false
      user: root
      password: Zy123456
      maxConnections: 10
  # 定时任务具体实现路径
  package:  com.zyao.job

# 租户表维护
tenant:
  enable: true
  column: tenant_code
  ignoreTables:  # 支持前缀匹配和全名匹配,不区分大小写
#    - sys_quartz_job
#    - sys_account
  ignoreSqls:   # 目前没有很好的设计方案 还未开发

logging:
  level:
    root: info
    com.hongyin.mapper: debug
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql.BasicBinder: info

# ===== SpringDoc配置 =====#
springdoc:
  swagger-ui:
    # 自定义的文档界面访问路径。默认访问路径是/swagger-ui.html
    path: /${spring.application.name}/doc.html

    # 字符串类型，一共三个值来控制操作和标记的默认展开设置。它可以是“list”（仅展开标记）、“full”（展开标记和操作）或“none”（不展开任何内容）。
    docExpansion: none

    # 布尔值。控制“试用”请求的请求持续时间（毫秒）的显示。
    displayRequestDuration: true

    # 布尔值。控制供应商扩展（x-）字段和操作、参数和架构值的显示。
    showExtensions: true

    # 布尔值。控制参数的扩展名（pattern、maxLength、minLength、maximum、minminimum）字段和值的显示。
    showCommonExtensions: true

    # 布尔值。禁用swagger用户界面默认petstore url。（从v1.4.1开始提供）。
    disable-swagger-default-url: true

  api-docs:
    # enabled the /v3/api-docs endpoint
    enabled: true

    # 自定义的文档api元数据访问路径。默认访问路径是/v3/api-docs
    path: /${spring.application.name}/api-docs

    # 布尔值。在@Schema（名称name、标题title和说明description，三个属性）上启用属性解析程序。
    resolve-schema-properties: true

  # 布尔值。实现OpenApi规范的打印。
  writer-with-default-pretty-printer: true

# ===== swagger配置 自定义 =====#
swagger:
  application-name: ${spring.application.name}
  application-version: 1.0.0
  application-description: boot-zyao项目接口文档
  try-host: http://localhost:${server.port}
